{
    "identifier": "plop",
    "tenantIdentifier": "frntr",
    "language": "en",
    "storefront": "furniture",
    "logo": "https://media.crystallize.com/crystallize_marketing/21/10/29/3/@1600/headless_commerce_for_product_storytellers_crystallize.webp",
    "theme": "dark",
    "configuration": {
        "ACCESS_TOKEN_ID": "xxx",
        "ACCESS_TOKEN_SECRET": "xxx"
    }
}
