@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html,
    body {
        background: #fff;
    }
    img {
        max-width: none;
    }
    button:hover {
        transform: scale(1.02, 1.02);
    }

    .test div:first-of-type h1:first-of-type {
    }
    .category-container img {
        object-fit: cover;
        width: 100%;
        max-height: 300px;
        max-width: 250px;
    }
    .embed-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .cart-item img {
        width: 84px;
        height: auto;
        border-radius: 6px;
    }
    .checkout-field {
        padding: 10px;
        background: #f9f9f9;
        height: 70px;
    }
    .document-media-container img {
        width: 100%;
        object-fit: cover;
    }
    &::-webkit-scrollbar {
        height: 3px;
        background: rgba(76, 80, 91, 0.17);
        border-radius: 24px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(76, 80, 91, 0.46);
        border-radius: 24px;
    }
    .rc-slider {
        width: 200px;
    }
    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABzSURBVHgBjY3BCYAwEARD9OPPDmzBErQjOzCdWIr+9GkHlmAJupE7OPFyZmEILJM95/TUWlkk5BVUYJOlN5Y/6ylZDcvdjxevtJ7EGYyGuICJiwAu8eGgLoo7OONyKWT5ysUG9PTpFb7APIvOSMgVOYMm3gMEFXvH78jiAAAAAElFTkSuQmCC');
        background-repeat: no-repeat, repeat;
        background-position: right 0.7em top 50%, 0 0;
        background-size: 0.65em auto, 100%;
    }
    .filter-container {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABzSURBVHgBjY3BCYAwEARD9OPPDmzBErQjOzCdWIr+9GkHlmAJupE7OPFyZmEILJM95/TUWlkk5BVUYJOlN5Y/6ylZDcvdjxevtJ7EGYyGuICJiwAu8eGgLoo7OONyKWT5ysUG9PTpFb7APIvOSMgVOYMm3gMEFXvH78jiAAAAAElFTkSuQmCC');
        background-repeat: no-repeat, repeat;
        background-position: right 0.7em top 50%, 0 0;
        background-size: 0.65em auto, 100%;
    }
    .frntr-grid {
        display: grid;
        grid-template-columns: minmax(50px, 1fr) minmax(800px, 1600px) minmax(50px, 1fr);
        grid-template-rows: auto;
    }
    .frntr-grid-row  {
        display: grid;
    }
    .img-container img {
        width: 100%;
        height: auto;
    }
    .img-container.img-cover img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        object-position: center center;
        transform-origin: center center;
        position: relative;
    }
    .img-container.img-contain img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
    .img-container.img-cover figure,
    .img-container.img-contain figure {
        height: 100%;
        width: 100%;
    }
    ,
    .img-container.img-cover picture,
    .img-container.img-contain picture {
        height: 100%;
        width: 100%;
        position: relative;
    }
    .nav-anchor {
        position: relative;
        height: 40px;
        display: flex;
        align-items: center;
    }
    .nav-anchor:hover .nav-dropdown {
        display: block;
    }
    .nav-anchor .caret {
        padding-left: 10px;
    }
    .nav-anchor:hover .caret {
        transform: scale(1, -1);
    }

    .nav-dropdown {
        /* border: 1px solid blue; */
        display: none;
        position: absolute;
        min-width: 180px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background: #fff;
        padding: 20px 0;
        top: 100%;
        z-index: 99;
    }
    .nav-dropdown li {
        padding: 20px 30px;
    }
    .img-cover-hover:hover img {
        width: 105%;
        height: 105%;
        left: -2.5%;
        top: -2.5%;
    }
}
